html {
  background-color: #f9f9fb; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

body {
  background-color: #f9f9fb;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #464646; }

.header .header-top {
  background-color: #212429;
  height: 345px; }

.header .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  border-left: 1.5px solid #3c3c3c;
  border-right: 1.5px solid #3c3c3c;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  margin: 0;
  overflow: visible; }

.header .hamburger:hover {
  opacity: 0.7; }

.header .hamburger.is-active:hover {
  opacity: 0.7; }

.header .hamburger.is-active .hamburger-inner,
.header .hamburger.is-active .hamburger-inner::before,
.header .hamburger.is-active .hamburger-inner::after {
  background-color: #fff; }

.header .hamburger-box {
  width: 29px;
  height: 15px;
  top: 4px;
  display: inline-block;
  position: relative; }

.header .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.header .hamburger-inner, .header .hamburger-inner::before, .header .hamburger-inner::after {
  width: 28px;
  height: 2px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease; }

.header .hamburger-inner::before, .header .hamburger-inner::after {
  content: "";
  display: block; }

.header .hamburger-inner::before {
  top: -10px; }

.header .hamburger-inner::after {
  bottom: -10px; }

.header .hamburger--slider .hamburger-inner {
  top: 2px; }

.header .hamburger--slider .hamburger-inner::before {
  top: 6px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s; }

.header .hamburger--slider .hamburger-inner::after {
  top: 12px; }

.header .hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg); }

.header .hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.header .hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg); }

.header .social-links {
  margin: 0;
  padding: 0; }
  .header .social-links li {
    display: inline-block; }
    .header .social-links li a {
      color: #fff;
      padding: 15px;
      display: inline-block;
      border-left: 1px solid #3c3c3c; }
      .header .social-links li a i {
        font-size: 21px; }
  .header .social-links li:last-child a {
    border-right: 1px solid #3c3c3c; }

.header .logo {
  padding: 15px 0;
  display: inline-block; }

.header .header-bottom {
  position: relative;
  top: -296px;
  height: 400px; }
  .header .header-bottom img {
    width: 100%; }

.lists {
  margin: 0;
  padding: 0; }
  .lists li {
    list-style: none; }
  .lists .item-walp {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eee;
    margin-bottom: 30px; }
    .lists .item-walp .pre-block i {
      font-size: 32px;
      position: absolute;
      top: -14px;
      left: 50%;
      margin-left: -26px;
      background: #212429;
      color: #fff;
      padding: 10px; }
    .lists .item-walp .date,
    .lists .item-walp .category {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      color: #999999;
      margin-top: 24px;
      text-align: center;
      font-size: 13px; }
    .lists .item-walp .title a {
      text-transform: uppercase;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      display: block;
      color: #212429; }
    .lists .item-walp .date {
      margin-top: 10px; }
    .lists .item-walp .anons {
      margin-top: 20px;
      color: #464646; }
    .lists .item-walp .link-to-article {
      display: table;
      margin: 20px auto 0;
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 10px 15px;
      color: #464646; }

.navigation.pagination a {
  color: #464646;
  padding: 15px;
  text-decoration: underline; }

.navigation.pagination a:hover {
  color: #0feeb0; }

.site-footer {
  background-color: #17191c;
  padding: 20px 0;
  margin-top: 40px; }
  .site-footer p {
    margin-bottom: 0;
    color: #eee;
    text-align: center; }
